/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply bg-base-300;
}
* {
	outline: none !important;
}
::-webkit-scrollbar {
	border-radius: 0 var(--rounded-btn) var(--rounded-btn) 0;
	overflow: hidden;
	cursor: pointer;
}
::-webkit-scrollbar-thumb {
	@apply bg-primary;
	border-radius: var(--rounded-btn);
}
img#tud-logo {
	height: 50px;
}
